$color-gray-00: #FAFAFA;
$color-gray-01: #F5F5F5;
$color-gray-02: #EEEEEE;
$color-gray-03: #E0E0E0;
$color-gray-04: #BDBDBD;
$color-gray-05: #9E9E9E;
$color-gray-06: #757575;
$color-gray-07: #616161;
$color-gray-08: #424242;
$color-gray-09: #212121;

$color-green-01: #C8E6C9;
$color-green-02: #A5D6A7;
$color-green-03: #81C784;
$color-green-04: #66BB6A;
$color-green-05: #4CAF50;
$color-green-06: #43A047;
$color-green-07: #388E3C;
$color-green-08: #2E7D32;
$color-green-09: #1B5E20;

$color-yellow-01: #FFECB3;
$color-yellow-02: #FFE082;
$color-yellow-03: #FFD54F;
$color-yellow-04: #FFCA28;
$color-yellow-05: #FFC107;
$color-yellow-06: #FFB300;
$color-yellow-07: #FFA000;
$color-yellow-08: #FF8F00;
$color-yellow-09: #FF6F00;

$color-red-06: #f44336;