@use "../../variables.scss";

.bh-frame {
    background: variables.$color-gray-02;
    padding: 32px;
    box-shadow: 0px 0px 0px 2px variables.$color-gray-04;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    .title {
        font-weight: 700;
        font-size: 20px;
    }

    .frame-label {
        margin-bottom: -12px;
        color: variables.$color-gray-08;
        font-variant: all-small-caps;
    }
}